.bdy {
  text-align: center; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 25px;
  background-color: #2C3333; 
  color: rgb(255, 255, 255);
}

.hdr {
  font-weight: bold; 
  background-color: #395B64;
  padding: 30px; 
  color: #f0ffff;
}

.para {
  font-size: 20px;
}


.grid_items { 
  display:grid;
  align-items: center;
}


.btn {
  background-color: #395B64; 
  border: none;
  color: #A5C9CA;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.btn:hover {
  
  background-color: #E7F6F2;
}

.pgNums {
  color: #fff;
}

.pgNums em {
  color: #A5C9CA;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
}



a {
  
  color: #A5C9CA;
  text-decoration: none;
  
}


a:visited {
  color: #A5C9CA;
  text-decoration: none;
}

a:hover {
  color: #E7F6F2;
  text-decoration: none;
}

a:active {
  color: #A5C9CA;
  text-decoration: none;
} 




@media only screen and (min-width: 640px) {
  .grid_items {
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 40px;
  }
  .grid_items > div {
    padding: 20px;
  }
}

@media only screen and (min-width: 981px) {
  .grid_items {
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 50px;
  }
  .grid_items > div {
    padding: 30px;
  }
}